section.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}    
    
    
    .card{
    margin:5px;
    min-height: 180px;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    
    }
    button {
        width: 100%;
    }