<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--
           -->
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg" height="50px">
        
            </li>
          </ul>
          
          <ul class="navbar-nav">
            <li class="nav-item ">
             
              <a class="nav-link" href="">API StarWars <span class="sr-only"></span></a>
            </li>
           
          </ul>
        </div>
      </nav>
  </header>